*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background: url("../images/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.pain {
    width: 200px;
    height: 200px;
    /* background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; */

    background: url("../images/bg.jpg")no-repeat center /cover;

    position: absolute;
    top: 0px;
    left: 200px;
}

.rain {
    width: 200px;
    height: 200px;
    background: url("../images/rkib.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 200px;
    left: 300px;
}