* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

.pb {
  font-family: "Poppins-Bold";
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

.ps {
  font-family: "Poppins-SemiBold";
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

.pm {
  font-family: "Poppins-Medium";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slntwght.ttf");
}

.inter {
  font-family: "Inter";
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

.manrope {
  font-family: "Manrope";
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

.rb {
  font-family: "Roboto-Bold";
}

.container {
  width: 1120px;
  margin: auto;
}

header {
  width: 100%;
  padding: 84px 0 42px;
}

header .logo a {
  text-decoration: none;
  color: #3a3a3a;
  line-height: 36px;
}

header .logo a:hover {
  color: #000;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav ul li {
  margin-left: 34px;
}

header nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  line-height: 36px;
}

header nav ul li a:hover {
  color: #000;
}

aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

aside > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside > div h1 {
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}

aside > div article {
  color: #3a3a3a;
  margin: 16px 0;
}

aside > div button {
  width: 196px;
  height: 44px;
  color: #fff;
  background: #e02c6d;
  border-width: 0;
  border-radius: 41px;
}

aside > div:last-child {
  padding: 21px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../images/cameerabg.png") no-repeat;
  background-position: 100% 50%;
  background-size: auto 100%;
}

.logoGroup {
  margin: 70px auto;
}

.products h2 {
  color: #3a3a3a;
  text-align: center;
  font-size: 28px;
}

.products .product-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.products .product-grid .single-product {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 14px;
}

.products .product-grid .single-product img {
  width: 100%;
}

.products .product-grid .single-product > h3 {
  color: #18191f;
  font-size: 28px;
  line-height: 40px;
  padding: 16px 0;
}

.products .product-grid .single-product > h4 {
  font-size: 24px;
  color: #000;
}

.products .product-grid .single-product > .review {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 0;
}

.products .product-grid .single-product > .review > li {
  color: orange;
  font-size: 14px;
}

.products .product-grid .single-product > .review > li:last-child {
  color: #5e6366;
  margin-left: 8px;
}

.products .product-grid .single-product > .product-info {
  list-style: none;
}

.products .product-grid .single-product > .product-info li {
  color: #787885;
  font-size: 14px;
  font-family: inter;
}
/*# sourceMappingURL=style.css.map */